<a href="https://colab.research.google.com/github/Shalinib6/pandas_basics/blob/main/pandas_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os

# Create a folder
os.makedirs("my_folder", exist_ok=True)

# Save a file in that folder
with open("my_folder/sample.txt", "w") as f:
    f.write("Hello from Colab!")
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
from google.colab import files
uploaded = files.upload()

Saving my_file (1).csv to my_file (1).csv

In [7]:
import pandas as pd
df = pd.read_csv('my_file (1).csv')
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              20 non-null     int64
 1   Peak                              9 non-null      object
 2   All Time Peak                     6 non-null      object
 3   Actual gross                      20 non-null     object
 4   Adjusted gross (in 2022 dollars)  20 non-null     object
 5   Artist                            20 non-null     object
 6   Tour title                        20 non-null     object
 7   Year(s)                           20 non-null     object
 8   Shows                             20 non-null     int64
 9   Average gross                     20 non-null     object
 10  Ref.                              20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB

            Rank       Shows
count  20.000000   20.000000
mean   10.450000  110.000000
std     5.942488   66.507617
min     1.000000   41.000000
25%     5.750000   59.000000
50%    10.500000   87.000000
75%    15.250000  134.500000
max    20.000000  325.000000

In [8]:
import pandas as pd
df = pd.read_csv('my_file (1).csv')
df.isnull().sum()

Rank                                 0
Peak                                11
All Time Peak                       14
Actual gross                         0
Adjusted gross (in 2022 dollars)     0
Artist                               0
Tour title                           0
Year(s)                              0
Shows                                0
Average gross                        0
Ref.                                 0
dtype: int64

In [11]:
import pandas as pd
df = pd.read_csv('my_file (1).csv')
df_clean = df.dropna()
print(df_clean)

   Rank  Peak All Time Peak  Actual gross Adjusted gross (in 2022 dollars)  \
0     1     1             2  $780,000,000                     $780,000,000
1     2     1          7[2]  $579,800,000                     $579,800,000
2     3  1[4]          2[5]  $411,000,000                     $560,622,615
3     4  2[7]         10[7]  $397,300,000                     $454,751,555
5     6  2[4]         10[9]  $305,158,363                     $388,978,496

         Artist                   Tour title    Year(s)  Shows Average gross  \
0  Taylor Swift              The Eras Tour †  2023–2024     56   $13,928,571
1       Beyoncé       Renaissance World Tour       2023     56   $10,353,571
2       Madonna  Sticky & Sweet Tour ‡[4][a]  2008–2009     85    $4,835,294
3          Pink  Beautiful Trauma World Tour  2018–2019    156    $2,546,795
5       Madonna                The MDNA Tour       2012     88    $3,467,709

  Ref.
0  [1]
1  [3]
2  [6]
3  [7]
5  [9]

In [13]:
import pandas as pd
df = pd.read_csv('my_file (1).csv')
df.drop_duplicates(inplace=True)
print(df)
df.head()
df.describe()
df.info()

    Rank   Peak All Time Peak     Actual gross  \
0      1      1             2     $780,000,000
1      2      1          7[2]     $579,800,000
2      3   1[4]          2[5]     $411,000,000
3      4   2[7]         10[7]     $397,300,000
4      5   2[4]           NaN     $345,675,146
5      6   2[4]         10[9]     $305,158,363
6      7  2[10]           NaN     $280,000,000
7      7    NaN           NaN     $257,600,000
8      9    NaN           NaN     $256,084,556
9     10    NaN           NaN     $250,400,000
10    11    NaN           NaN  $229,100,000[b]
11    12    NaN        14[17]     $227,400,000
12    13    NaN           NaN     $204,000,000
13    14  1[20]           NaN     $200,000,000
14    15   2[c]           NaN     $194,000,000
15    16    NaN           NaN     $184,000,000
16    17    NaN           NaN     $170,000,000
17    18    NaN           NaN     $169,800,000
18    19    NaN           NaN  $167,700,000[e]
19    20    NaN           NaN     $150,000,000

   Adjusted gross (in 2022 dollars)        Artist  \
0                      $780,000,000  Taylor Swift
1                      $579,800,000       Beyoncé
2                      $560,622,615       Madonna
3                      $454,751,555          Pink
4                      $402,844,849  Taylor Swift
5                      $388,978,496       Madonna
6                      $381,932,682   Celine Dion
7                      $257,600,000          Pink
8                      $312,258,401       Beyoncé
9                      $309,141,878  Taylor Swift
10                     $283,202,896       Beyoncé
11                     $295,301,479     Lady Gaga
12                     $251,856,802    Katy Perry
13                     $299,676,265          Cher
14                     $281,617,035       Madonna
15                     $227,452,347          Pink
16                     $213,568,571     Lady Gaga
17                     $207,046,755       Madonna
18                     $204,486,106         Adele
19                     $185,423,109  Taylor Swift

                                  Tour title    Year(s)  Shows Average gross  \
0                            The Eras Tour †  2023–2024     56   $13,928,571
1                     Renaissance World Tour       2023     56   $10,353,571
2                Sticky & Sweet Tour ‡[4][a]  2008–2009     85    $4,835,294
3                Beautiful Trauma World Tour  2018–2019    156    $2,546,795
4                    Reputation Stadium Tour       2018     53    $6,522,173
5                              The MDNA Tour       2012     88    $3,467,709
6                  Taking Chances World Tour  2008–2009    131    $2,137,405
7                          Summer Carnival †  2023–2024     41    $6,282,927
8                   The Formation World Tour       2016     49    $5,226,215
9                        The 1989 World Tour       2015     85    $2,945,882
10           The Mrs. Carter Show World Tour  2013–2014    132    $1,735,606
11                   The Monster Ball Tour *  2009–2011    203    $1,118,227
12                      Prismatic World Tour  2014–2015    151    $1,350,993
13  Living Proof: The Farewell Tour ‡[21][a]  2002–2005    325      $615,385
14                          Confessions Tour       2006     60    $3,233,333
15                 The Truth About Love Tour  2013–2014    142    $1,295,775
16                        Born This Way Ball  2012–2013     98    $1,734,694
17                          Rebel Heart Tour  2015–2016     82    $2,070,732
18                           Adele Live 2016  2016–2017    121    $1,385,950
19                              The Red Tour  2013–2014     86    $1,744,186

        Ref.
0        [1]
1        [3]
2        [6]
3        [7]
4        [8]
5        [9]
6       [11]
7       [12]
8       [13]
9       [14]
10  [15][16]
11      [18]
12      [19]
13      [20]
14       [5]
15      [22]
16       [d]
17       [4]
18      [25]
19      [26]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              20 non-null     int64
 1   Peak                              9 non-null      object
 2   All Time Peak                     6 non-null      object
 3   Actual gross                      20 non-null     object
 4   Adjusted gross (in 2022 dollars)  20 non-null     object
 5   Artist                            20 non-null     object
 6   Tour title                        20 non-null     object
 7   Year(s)                           20 non-null     object
 8   Shows                             20 non-null     int64
 9   Average gross                     20 non-null     object
 10  Ref.                              20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB

In [16]:
import pandas as pd
df = pd.read_csv('my_file (1).csv')
print(df.columns)
df.rename(columns={'Rank': 'Ranks'}, inplace=True)
print(df.columns)

Index(['Rank', 'Peak', 'All Time Peak', 'Actual gross',
       'Adjusted gross (in 2022 dollars)', 'Artist', 'Tour title', 'Year(s)',
       'Shows', 'Average gross', 'Ref.'],
      dtype='object')
Index(['Ranks', 'Peak', 'All Time Peak', 'Actual gross',
       'Adjusted gross (in 2022 dollars)', 'Artist', 'Tour title', 'Year(s)',
       'Shows', 'Average gross', 'Ref.'],
      dtype='object')

In [19]:
import pandas as pd
df = pd.read_csv('my_file (1).csv')
#removing unwanted characters
print(df['Peak'])

df['Peak'] = df['Peak'].str.strip()  # remove spaces
df['Average gross'] = df['Average gross'].str.replace('$', '')  # remove $ sign, example
print(df)

0         1
1         1
2      1[4]
3      2[7]
4      2[4]
5      2[4]
6     2[10]
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13    1[20]
14     2[c]
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
Name: Peak, dtype: object
    Rank   Peak All Time Peak     Actual gross  \
0      1      1             2     $780,000,000
1      2      1          7[2]     $579,800,000
2      3   1[4]          2[5]     $411,000,000
3      4   2[7]         10[7]     $397,300,000
4      5   2[4]           NaN     $345,675,146
5      6   2[4]         10[9]     $305,158,363
6      7  2[10]           NaN     $280,000,000
7      7    NaN           NaN     $257,600,000
8      9    NaN           NaN     $256,084,556
9     10    NaN           NaN     $250,400,000
10    11    NaN           NaN  $229,100,000[b]
11    12    NaN        14[17]     $227,400,000
12    13    NaN           NaN     $204,000,000
13    14  1[20]           NaN     $200,000,000
14    15   2[c]           NaN     $194,000,000
15    16    NaN           NaN     $184,000,000
16    17    NaN           NaN     $170,000,000
17    18    NaN           NaN     $169,800,000
18    19    NaN           NaN  $167,700,000[e]
19    20    NaN           NaN     $150,000,000

   Adjusted gross (in 2022 dollars)        Artist  \
0                      $780,000,000  Taylor Swift
1                      $579,800,000       Beyoncé
2                      $560,622,615       Madonna
3                      $454,751,555          Pink
4                      $402,844,849  Taylor Swift
5                      $388,978,496       Madonna
6                      $381,932,682   Celine Dion
7                      $257,600,000          Pink
8                      $312,258,401       Beyoncé
9                      $309,141,878  Taylor Swift
10                     $283,202,896       Beyoncé
11                     $295,301,479     Lady Gaga
12                     $251,856,802    Katy Perry
13                     $299,676,265          Cher
14                     $281,617,035       Madonna
15                     $227,452,347          Pink
16                     $213,568,571     Lady Gaga
17                     $207,046,755       Madonna
18                     $204,486,106         Adele
19                     $185,423,109  Taylor Swift

                                  Tour title    Year(s)  Shows Average gross  \
0                            The Eras Tour †  2023–2024     56    13,928,571
1                     Renaissance World Tour       2023     56    10,353,571
2                Sticky & Sweet Tour ‡[4][a]  2008–2009     85     4,835,294
3                Beautiful Trauma World Tour  2018–2019    156     2,546,795
4                    Reputation Stadium Tour       2018     53     6,522,173
5                              The MDNA Tour       2012     88     3,467,709
6                  Taking Chances World Tour  2008–2009    131     2,137,405
7                          Summer Carnival †  2023–2024     41     6,282,927
8                   The Formation World Tour       2016     49     5,226,215
9                        The 1989 World Tour       2015     85     2,945,882
10           The Mrs. Carter Show World Tour  2013–2014    132     1,735,606
11                   The Monster Ball Tour *  2009–2011    203     1,118,227
12                      Prismatic World Tour  2014–2015    151     1,350,993
13  Living Proof: The Farewell Tour ‡[21][a]  2002–2005    325       615,385
14                          Confessions Tour       2006     60     3,233,333
15                 The Truth About Love Tour  2013–2014    142     1,295,775
16                        Born This Way Ball  2012–2013     98     1,734,694
17                          Rebel Heart Tour  2015–2016     82     2,070,732
18                           Adele Live 2016  2016–2017    121     1,385,950
19                              The Red Tour  2013–2014     86     1,744,186

        Ref.
0        [1]
1        [3]
2        [6]
3        [7]
4        [8]
5        [9]
6       [11]
7       [12]
8       [13]
9       [14]
10  [15][16]
11      [18]
12      [19]
13      [20]
14       [5]
15      [22]
16       [d]
17       [4]
18      [25]
19      [26]